
:root{
  --primaryTextDark: #242424;
  --primaryBgColor: #eee;
}

body{
  color: var(--primaryTextDark);
}
button{
  display: block;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
#menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 4px;
}
#menu-btn .btn-line{
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #242424;
}
#mob-menu{    
  position: fixed;
  z-index: 99999;
  inset: 59px -300px 0 auto;
  width: 300px;
  transition: .8s ease;
  background-color: #00000085;
  display: flex;
  justify-content: flex-end;
}
header #mob-menu .nav{
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--primaryBgColor);
}

header #mob-menu .nav a{
  display: block;
}
header{
  position: sticky;
  z-index: 100000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--primaryBgColor);
  box-shadow: 0 1px 8px #00000033;
}
header #logo img{
  width: 40px;
  padding: .5rem;
}
header .nav,
header #auth-actions{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
header .nav a,
header #auth-actions div{
  flex: 1 1 130px;
  padding: 0.6rem 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--primaryTextDark);
}

#banner{
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

#banner .banner-slide{
  min-width: 100%;
  max-height: 500px;
  aspect-ratio: 4 / 3;
  scroll-snap-align: start;
}

#banner .banner-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#banner-container #slider-markers{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
#banner-container .marker{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: lightgray;
}
#banner-container .marker.active{
  background-color: grey;
}
.sign-up-btn{
  background-color: #00000029;
  border-radius: 6px;
}

section{
  width: min(1100px,100%);
  margin: 0 auto;
  padding: 3rem 0;
}
#services-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: stretch;
  flex-wrap: wrap;
}
.services{
  flex: 0 1 min(300px,90%);
  position: relative;
  width: 100%;
}
.services img{
  filter: brightness(.6);
  transition: .5s ease;
}
.services span{
  color: #eee;
  font-weight: bold;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  transition: .5s ease;
}
.services:hover span{
  transform: translate(-50%,-50%) scale(0);
}
.services:hover img{
  filter: brightness(1);
}

#section-about{
  width: 100%;
  margin: 8rem auto;
  padding: 0;
  position: relative;
  background-color: rgb(236, 236, 236);
}
#about-container{
  width: min(1140px,90%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  padding: 3rem 0;
}
#about-container .about-content{
  width: min(400px,100%);
}
#about-container h2{
  text-align: left;
  margin-top: 0;
}
#about-container button{
  margin-top: 1rem;
  border: 2px solid #505050;
  border-radius: 10px;
}
#about-images-container{
  width: min(400px,100%);
  position: relative;
}
#about-images{
  width: inherit;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#about-container img{
  width: min(200px,40%);
  border-radius: 10px;
  box-shadow: 0 0 12px #00000099;
}
#about-container .img-1{
  aspect-ratio: 3/4;
  height: auto;
}
#about-container .img-2{
  aspect-ratio: 2/1;
  height: auto;
  margin: 2rem auto;
}


#login-modal{
  position: fixed;
  z-index: 99999;
  inset: 0 0 0 0;
  background-color: #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-container{
  width: min(500px,90%);
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--primaryBgColor);
}
#login-container label{
  display: block;
  position: relative;
  padding: 1rem;
  margin: .5rem auto;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid grey;
}
#login-container span{
  position: absolute;
  left: 1rem;
  top: 1rem;
  transition: .3s ease;
  color: rgb(173, 173, 173);
  background-color: var(--primaryBgColor);
}
#login-container input{
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

#login-container input:focus + span{
  top: -10px;
  font-size: 16px;
  color: #525252;
  font-weight: bold;
}









@media only screen and (max-width:941px){
  #about-images{
    position: static;
    transform: none;
  }
}
@media only screen and (max-width:658px){
  header > .nav{
    display: none;
  }
  #menu-btn{
    display: flex;
  }
}